<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }}{% endif %} </title>
	<meta name="description" content="{{ page.description }}" />
	<link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/styles/css/style.css" />
	<link rel="stylesheet" href="/lib/highlight/styles/default.css" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/styles/css/ie-fix.css" />
	<![endif]-->
	<script type="text/javascript" src="/lib/jquery-1.8.3.min.js"></script>
	
</head>
<body>
	<div id="header">
		<div class="logo">
			<h1>Mr.bone的小窝窝</h1>
		</div>
		<div class="container">
			<ul class="nav">
				<li><a href="">demo</a></li>
			</ul>
		</div>
	</div>